body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color : #ffffff;
  
  background-color: #242424;

  margin: 0;
  padding: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --translationX: 0%;

}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.disabled {
  pointer-events: none;
  opacity: 0.5; 
  
}


